FIRST PART

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)
lista=[]
suma_lista=[]
for sqrt_value in generator:
    lista.append(sqrt_value)
    #print(lista)
    #print(sqrt_value)
    suma=sum(lista)
    suma_lista.append(suma)
print("This is the array of sum for each iteration:",suma_lista)
final=suma_lista.pop()
print("The sum of all the outputs is:", final)

This is the array of sum for each iteration: [1.0, 2.414213562373095, 4.146264369941973, 6.146264369941973, 8.382332347441762]
The sum of all the outputs is: 8.382332347441762

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

SECOND PART

In [3]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [4]:
import dlt

# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destination as follows:
info = generators_pipeline.run(people_1(),
										table_name="people",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.62 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///c:\Users\Mario\OneDrive\Documentos\GitHub\Zoomcamp Data Engineering\workshop1\dlt_ipykernel_launcher.duckdb location to store data
Load package 1707967745.4755423 is LOADED and contains no failed jobs

In [5]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people1:")

group_1 = conn.sql("SELECT * FROM people").df()
display(group_1)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

 people1:

   id      name  age    city        _dlt_load_id         _dlt_id
0   1  Person_1   26  City_A  1707967745.4755423  QfK6eOOPsLAXNA
1   2  Person_2   27  City_A  1707967745.4755423  xCSfZ333S1IrXA
2   3  Person_3   28  City_A  1707967745.4755423  gIaAyHoLKx+syQ
3   4  Person_4   29  City_A  1707967745.4755423  OvGX9gvHYggeZg
4   5  Person_5   30  City_A  1707967745.4755423  BqisNs6F4A0jnA

In [14]:
type(group_1)

pandas.core.frame.DataFrame

In [17]:
import pandas as pd
#sum group1
df=pd.DataFrame(group_1)
sum1=df['age'].sum()
print(sum1)

140

In [22]:
import dlt

# define the connection to load to.
# We now use duckdb, but you can switch to Bigquery later
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')


# we can load any generator to a table at the pipeline destination as follows:
info = generators_pipeline.run(people_1(),
										table_name="people",
										write_disposition="replace")

# the outcome metadata is returned by the load and we can inspect it by printing it.
print(info)

# we can load the next generator to the same or to a different table.
info = generators_pipeline.run(people_2(),
										table_name="people",
										write_disposition="append")

print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.24 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///c:\Users\Mario\OneDrive\Documentos\GitHub\Zoomcamp Data Engineering\workshop1\dlt_ipykernel_launcher.duckdb location to store data
Load package 1707969153.2036362 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 0.27 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///c:\Users\Mario\OneDrive\Documentos\GitHub\Zoomcamp Data Engineering\workshop1\dlt_ipykernel_launcher.duckdb location to store data
Load package 1707969154.0539927 is LOADED and contains no failed jobs

In [24]:
import duckdb

conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n all people:")

group_12 = conn.sql("SELECT * FROM people").df()
display(group_12)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
└─────────────────────┘

 all people:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707969153.2036362  wfitCZsLSTffyA       None
1    2  Person_2   27  City_A  1707969153.2036362  mzsJwS66XMdUTg       None
2    3  Person_3   28  City_A  1707969153.2036362  8CcoLVjZK+sWMw       None
3    4  Person_4   29  City_A  1707969153.2036362  XByO4HfZy4BxZw       None
4    5  Person_5   30  City_A  1707969153.2036362  T5yfK1POW1qL0A       None
5    3  Person_3   33  City_B  1707969154.0539927  RcrP4I8Eto81hA      Job_3
6    4  Person_4   34  City_B  1707969154.0539927  BpzgDhGiak8GfQ      Job_4
7    5  Person_5   35  City_B  1707969154.0539927  X0oBSgTmEVflZw      Job_5
8    6  Person_6   36  City_B  1707969154.0539927  ATLH3cqYwJCX6Q      Job_6
9    7  Person_7   37  City_B  1707969154.0539927  Q8Oe3FG4wxVm0A      Job_7
10   8  Person_8   38  City_B  1707969154.0539927  JNYZ7qYQ3J+GHw      Job_8

In [25]:
df=pd.DataFrame(group_12)
sum12=df['age'].sum()
print(sum12)

353

THIRD PART

In [28]:
pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')
info = pipeline.run(people_1(),table_name="merged_people",write_disposition="merge",primary_key="ID")
print(info)
pipeline = dlt.pipeline(destination='duckdb', dataset_name='generators')
info = pipeline.run(people_2(),table_name="merged_people",write_disposition="merge",primary_key="ID")
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.73 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///c:\Users\Mario\OneDrive\Documentos\GitHub\Zoomcamp Data Engineering\workshop1\dlt_ipykernel_launcher.duckdb location to store data
Load package 1707975538.5668998 is LOADED and contains no failed jobs
Pipeline dlt_ipykernel_launcher load step completed in 1.23 seconds
1 load package(s) were loaded to destination duckdb and into dataset generators
The duckdb destination used duckdb:///c:\Users\Mario\OneDrive\Documentos\GitHub\Zoomcamp Data Engineering\workshop1\dlt_ipykernel_launcher.duckdb location to store data
Load package 1707975540.0234168 is LOADED and contains no failed jobs

In [29]:
# show the outcome

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))


print("\n\n\n first group")
g12 = conn.sql("SELECT * FROM merged_people ").df()
display(g12)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ merged_people       │
│ people              │
└─────────────────────┘

 first group

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   2  Person_2   27  City_A  1707975538.5668998  /skHQJgZGXtJ0A       None
1   1  Person_1   26  City_A  1707975538.5668998  b/lktf9K2UTaDw       None
2   7  Person_7   37  City_B  1707975540.0234168  SFyDHyoOwDIwwQ      Job_7
3   4  Person_4   34  City_B  1707975540.0234168  BKBZJNvGs+/KjA      Job_4
4   5  Person_5   35  City_B  1707975540.0234168  aioPQwciik0ySw      Job_5
5   3  Person_3   33  City_B  1707975540.0234168  EhdEb+oZOxumiA      Job_3
6   6  Person_6   36  City_B  1707975540.0234168  Fp26q0YLl8W92w      Job_6
7   8  Person_8   38  City_B  1707975540.0234168  ppI+/1EHTO1UKQ      Job_8

In [ ]:
dfm=pd.DataFrame(g12)
sum12_m=dfm['age'].sum()
print(sum12_m)

266